
.header .container {
  display: flex;
padding-top: 7px;
padding-bottom: 7px;

justify-content: space-between;
}

.nav {
  display: flex;
}

.nav-logo {
  font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #1b414b;
    display: flex;
    align-items: center;
}

.nav-list {
  display: none;
}

.header-social-list {
  display: none;
}

.header-burger {
  display: flex;
}

.icon-burger {
stroke-width: 2.50px;
  stroke: #1b414b;

}


@media screen and (min-width:768px) {

  .header {
    border: 1px solid #fbfbfb;
      border-radius: 8px;
      width: 704px;
      height: 48px;
      background: #fbfbfb;
      margin: 0 auto;
  }

  .header .container {
   padding: 4px 20px;
   margin: 0 auto;
    align-items: center;
   
  }
  
  .nav {
    gap: 113px;
    margin-right: auto;
  }
  .nav-logo {
    
      font-size: 20px;
     
     
  }

  .nav-list {
    display: flex;
    gap: 4px;
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1b414b;
    border-radius: 8px;
      width: 91px;
      height: 40px;
  }

  .nav-item .link {
    font-weight: 400;
      font-size: 9px;
    
      /* line-height: 12px; */
      line-height: 1.3;
      text-transform: uppercase;
      text-align: center;
      color: #fbfbfb;
  }

    .header-social-list {
      display: flex;
      gap: 8px;
    }

    .social-list-item .link {
      display: flex;
      justify-content: center;
      align-items: center;
      fill: #1b414b;
      width: 24px;
      height: 24px;
    }

  .icon-burger {
    display: none;
  }
 
}

@media screen and (min-width:1280px) {

  .header {
    width: 1080px;
  }
 

    .header .container {
      max-width: 1080px;
      padding: 4px 30px;
    }

        .nav {
          gap: 296px;
        }


 

    .icon-burger {
      display: none;
    }
}