.page-hero {
    display: flex;
   
    background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 375px;
        margin: auto;
    padding-top: 260px;
        padding-bottom: 302px;
    background-image: linear-gradient(rgba(17, 19, 31, 0.7),
        rgba(17, 19, 31, 0.7)), image-set(url('../img/img-hero-m.jpg') 1x, url('../img/img-hero-m@2x.jpg') 2x);

}

.page-hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.hero-title {
    font-weight: 500;
        font-size: 32px;
    
        /* line-height: 32px; */
        line-height: 1;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fbfbfb;
        margin-bottom: 24px;
}

.hero-text {
    font-weight: 300;
        font-size: 12px;
    
        /* line-height: 14px; */
        line-height: 1.17;
        text-align: center;
        color: rgba(251, 251, 251, 0.7);
        margin-bottom: 38px;
}

.hero-btn {
            
            border: none;
            border-radius: 15px;
            padding: 14px 32px;
            background: #1b414b;
            font-weight: 500;
                font-size: 14px;
                line-height: 1.3;
                letter-spacing: -0.02em;
                color: #fbfbfb;
}

.hero-btn:hover,
.hero-btn:focus {
background: #fbfbfb;
    color: #1b414b;
}

@media screen and (min-width:768px) {
.page-hero {
        max-width: 768px;
        padding-top: 280px;
        padding-bottom: 282px;
        background-image: linear-gradient(rgba(17, 19, 31, 0.7),
                rgba(17, 19, 31, 0.7)), image-set(url('../img/img-hero-t.jpg') 1x, url('../img/img-hero-t@2x.jpg') 2x);

    }


    .hero-title {
       
            font-size: 70px;
        
           
            text-align: center;
            
    }

    .hero-text {
       
            font-size: 16px;
            line-height: 1.4;
    }

        .hero-btn {
                font-size: 18px;
                line-height: 1.1;
                border-radius: 15px;
                    padding-block: 16px;
                    padding-inline: 40px;
                    width: 179px;
                    height: 52px;
        }
}

@media screen and (min-width:1280px) {
    .page-hero { 
        max-width: 1280px;
            padding-top: 235px;
            padding-bottom: 215px;
            background-image: linear-gradient(rgba(17, 19, 31, 0.7),
                    rgba(17, 19, 31, 0.7)), image-set(url('../img/img-hero-d.jpg') 1x, url('../img/img-hero-d@2x.jpg') 2x);
    
        }

        .hero-title {
           
                font-size: 80px;
            width: 1000px;
               
        }

        .hero-text {
                font-size: 16px;
                line-height: 1.4;
               width: 597px;
               margin-bottom: 48px;
        }
}